<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO3UpW1zdAXVc85Et3myMkTj1kyuufe2M</string>
	<key>GCM_SENDER_ID</key>
	<string>310228910397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAdvancedOmarAhmed</string>
	<key>PROJECT_ID</key>
	<string>doc-doc-app-504d4</string>
	<key>STORAGE_BUCKET</key>
	<string>doc-doc-app-504d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310228910397:ios:4328f99d075f8ba822c554</string>
</dict>
</plist>